/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
html {
  font-family: sans-serif;
}
body {
  background-color: #D4A76A;
}
header {
  background-color: #ffdbaa;
  color: #553100;
  border-bottom: solid;
}
.button {
  background-color: #805215;
  color: white;
}

.nav .button {

}

section {
  text-align: center;
  border-style: solid;
  margin: 3%;
  padding: 3%;
}

#flights {
  float: left;
  margin-left: auto;
}

#groups {
margin-left: auto;
margin-right: auto;
}

#discounts {
float: right;
margin-right: auto;
}

#about {
margin: 20%;
}