/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
html {
  font-family: sans-serif;
}
body {
  background-color: #D4A76A;
}
header {
  margin: 0px;
  padding: 0px;
  background-color: #ffdbaa;
  color: #553100;
  border-bottom: solid;
  border-width: 3px;
  display: flex;
  justify-content: space-between;
}
header h2 {
  padding-top: 1%;
  padding-left: 2%;
}

.button {
  background-color: #805215;
  color: white;
  text-wrap: nowrap;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.nav .button {
  width: 6%;
  min-width: 110px;
  padding: 10px;
  margin: 15px;
}
body {
  margin: 0px;
  padding: 0px;
}
section {
  background-color: white;
  text-align: center;
  text-wrap: wrap;
  box-shadow: 0 0 10px 1px black;
  margin: 3%;
  padding: 1%;
}

#flights {
  width: 23%;
  float: inline-start;
  margin-left: 5%;
}

#groups {
  width: 23%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#discounts {
  width: 23%;
  margin-left: 65%;
  margin-right: 50%;
}

#about {
  margin: 10%;
  padding: 1%;
}

section .button {
  width: 99%;
  padding-top: 1%;
  padding-bottom: 1%;
}